<div class="modal-dialog" role="document">
    <div class="modal-content d-flex">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" routerLink="../add"></button>
      <div class="modal-container text-center">
          <div class="card">

              <div class="card-heading">
                <h5>
                  <p class="strong-font">Email Preview</p>
                </h5>
                <div class="d-flex flex-row">
                  <p class="p-1">
                    full preview
                  </p>
                  <a class="p-1">
                    <img src="assets/img/pop-out.svg" alt="">
                  </a>
                </div>
              </div>
              <div class="card email-preview card-padded outer-cards">
                <div class="card-block">
                  <p class="preview-header preview-divider">
                    <!-- <p class="preview-divider"> -->
                    <span class="strong-font">Subject Line: </span>
                    Hilton NY invites you to create a Frontier Signal Profile</p>
                  <!-- </p> -->
      
      
                  <div class="row justify-content-center">
                    <a href="#!" class="logo">
                      <img src="assets/img/logo-full.svg" alt="">
                    </a>
                  </div>
                  <div class="card mt-3">
                    <div class="text-center preview-inner-card">
                      <div class="card-padded">
                        <h3 class="pt-3 pb-3 preview-inner-heading">You're invited!</h3>
                        <p class="preview-inner-desc">
                          <strong>Hey there,</strong> you're invited to create a Signal Profile for opportunities at Hilton NY. Use the
                          credentials below to log in and get started</p>
                        <p class="pt-2 mb-0 user-info strong-font">
                          EMAIL ADDRESS
                        </p>
                        <p>name@email.com</p>
                        <p class="pt-2 mb-0 user-info strong-font">
                          PASSWORD
                        </p>
                        <p>yoursecurepassword</p>
                      </div>
                      <button class="btn btn-dark btn-rounded">build your profile</button>
                    </div>
                    <div class="card-footer text-center">
                      <h6 class="strong-font">
                        What's this all about?
                      </h6>
                      <p class="card-footer-desc">Frontier Signal is a new way for perspective employees to get connected with hiring managers and new career
                        opportunities that fit them best. We use a cutting-edge system to map your strengths and experiences to
                        open positions Questions? Comments? Get in touch</p>
                    </div>
                  </div>
      
      
                </div>
                <div class="card-footer-message">
                  <p class="m-0">You're recieving this email because you signed up for alerts about new opportunities from Hilton NY. If you no
                    longer wish to recieve these emails, click here to unsubscribe Frontier Signal| 1500 Broadway, 15th Floor,
                    New York, NY 1111</p>
                </div>
      
      
              </div>
            </div>
      </div>
    </div>
  </div>