<!-- Learn front-end development at rocket speed! http://inarocket.com -->
<section>
  <h3 class="header">Hello, world!</h3>

  <div class="container">
    <h2 class="mb-4 invite-heading">
      <strong>InviteApplicants</strong>
    </h2>
    <div class="row d-flex justify-content-space-between">
      <div class="col-lg-7">
        <div class="card-heading">
          <h4><strong>Recipients</strong></h4>
          <div>
            <p>
              import a list
            </p>
          </div>
        </div>

        <div class="card card-padded">
          <div class="card-block">
            <i class="card-text">seperate entries with a comma or line break</i>

            <div class="md-form-group">
              <div class="md-form">
                <div>
                  <input type="text" placeholder="Type individual email address here" id="form1" class="form-control">
                </div>
              </div>
            </div>
            <div class="md-form-group row">
              <div class="md-form col-sm-6">
                <label class="mt-2 ml-4">Added recipients</label>
                <textarea type="text" rows="7" id="form1" class="form-control mt-3"></textarea>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">chris@gmail.com</p>
                <p class="mb-0">darmcharming@gmail.com</p>
                <p class="mb-0">ellisnoir@gmail.com</p>
                <p class="mb-0">chris@gmail.com</p>
                <p class="mb-0">chris@gmail.com</p>
                <p class="mb-0">chris@gmail.com</p>
                <p class="mb-0">chris@gmail.com</p>
                <p class="mb-0">chris@gmail.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <p>+20 more entries</p>
              </div>
              <div class="col-lg-9 mt-1">
                <strong>view all</strong>
              </div>
            </div>
            <div>
              <i class="recipients-errors-list">this list contain errors</i>
            </div>
          </div>
        </div>
        <button class="btn btn-dark btn-rounded mt-4 send-invite-btn">Send invites</button>
      </div>
      <div class="col-lg-5">

        <div class="card-heading">
          <h5>
            <strong>Email Preview</strong>
          </h5>
          <div>
            <p>
              full preview
            </p>
          </div>
        </div>
        <div class="card email-preview card-padded">
          <div class="card-block pt-2">
            <p class="preview-header">
              <span class="preview-divider">
                <strong>Subject Line: </strong>Hilton NY invites you to create a Frontier Signal Profile</span>
            </p>


            <div class="row justify-content-center">
              <a href="#!" class="logo">
                <img src="assets/img/logo-full.svg" alt="">
              </a>
            </div>
            <div class="card mt-3">
              <div class="card-block">
                <div class="text-center">
                  <div class="card-padded">
                    <h3 class="pt-3 pb-3 preview-inner-heading">You're invited!</h3>
                    <p>
                      <strong>Hey there,</strong> you're invited to create a Signal Profile for opportunities at Hilton NY. Use the
                      credentials below to log in and get started</p>
                    <p class="pt-2 mb-0 user-info">
                      <strong>EMAIL ADDRESS</strong>
                    </p>
                    <p>name@email.com</p>
                    <p class="pt-2 mb-0 user-info">
                      <strong>PASSWORD</strong>
                    </p>
                    <p>yoursecurepassword</p>
                    <button class="btn btn-dark btn-rounded">build your profile</button>
                  </div>
                </div>
              </div>
              <div class="card-footer text-center">
                <h5>
                  <strong>What's this all about?</strong>
                </h5>
                <p>Frontier Signal is a new way for perspective employees to get connected with hiring managers and new career
                  opportunities that fit them best. We use a cutting-edge system to map your strengths and experiences to
                  open positions Questions? Comments? Get in touch</p>
              </div>
            </div>


          </div>
          <p class="card-footer-message pt-4">You're recieving this email because you signed up for alerts about new opportunities from Hilton NY. If you no
            longer wish to recieve these emails, click here to unsubscribe Frontier Signals| 1500 Broadway, 15th Floor, New
            York, NY 1111</p>



        </div>
      </div>
    </div>
  </div>
</section>