<section class="">

  <div class="container add-applicant-error">
    <div class="row">
      <p>List uploaded with errors. Review and resolve them</p>
    </div>
  </div>
  <div class="p-5">

    <div class="row ">
      <div class="col-lg-9">
        <h2 class="mb-6 invite-heading">
          <strong>InviteApplicants</strong>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 card-sections">
        <h5 class="mb-6 recipient-heading">
          <strong>Recipients</strong>
        </h5>
        <div class="card added-recipients">
          <div class="card-block pt-2">
            <i class="card-text">seperate entries with a comma or line break</i>

            <div class="md-form-group">
              <div class="md-form">
                <div>
                  <input type="text" placeholder="Type individual email address here" id="form1" class="form-control">
                </div>
              </div>
            </div>
            <div class="md-form-group row">
              <div class="md-form col-lg-6">
                <div>
                  <label class="mt-2">Added recipients</label>
                  <textarea type="text" id="form1" class="form-control added-recipients-text-area"></textarea>
                </div>
              </div>
              <div class="col-lg-6 mt-4">
                <p class="mb-0">chris@gmail.com</p>
                <p class="mb-0">darmcharming@gmail.com</p>
                <p class="mb-0">ellisnoir@gmail.com</p>
                <p class="mb-0">chris@gmail.com</p>
                <p class="mb-0">chris@gmail.com</p>
                <p class="mb-0">chris@gmail.com</p>
                <p class="mb-0">chris@gmail.com</p>
                <p class="mb-0">chris@gmail.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
                <p>+20 more entries</p>
              </div>
              <div class="col-lg-10">view all</div>
            </div>
            <div>
              <p class="recipients-errors-list">this list contain errors</p>
            </div>
          </div>
        </div>
        <button class="btn btn-dark btn-rounded mt-4 send-invite-btn">Send invites</button>

      </div>
      <div class="col-lg-5 pl-5">
        <h5 class="mb-6">
          <strong>Email Preview</strong>
        </h5>
        <div class="card added-recipients">
          <div class="card-block pt-2">
            <p>
              <span class="preview-divider">
                <strong>Subject Line: </strong>Hilton NY invites you to create a Frontier Signal Profile</span>
            </p>

            <section class="main-content text-center pb-5">
              <div class="container">

                <div class="row justify-content-center">
                  <a href="#!" class="logo">
                    <img src="assets/img/logo-full.svg" alt="">
                  </a>
                </div>
                <div class="card mt-4">
                  <div class="card-block">
                    <h1>You're invited!</h1>
                    <p>
                      <strong>Hey there,</strong> you're invited to create a Signal Profile for opportunities at Hilton NY. Use the
                      credentials below to log in and get started</p>
                    <p>EMAIL ADDRESS</p>
                    <p>name@email.com</p>
                    <p>PASSWORD</p>
                    <p>yoursecurepassword</p>
                    <button class="btn btn-dark btn-rounded mt-3">build your profile</button>
                    <div class="pt-3">
                      <h5>
                        <strong>What's this all about</strong>
                      </h5>
                      <p>Frontier Signal is a new way for perspective employees to get connected with hiring managers and new
                        career opportunities that fit them best. We use a cutting-edge system to map your strengths and experiences
                        to open positions Questions? Comments? Get in touch</p>
                    </div>

                  </div>
                </div>
                <p class="card-footer-message pt-4">You're recieving this email because you signed up for alerts about new opportunities from Hilton NY. If you
                  no longer wish to recieve these emails, click here to unsubscribe Frontier Signals| 1500 Broadway, 15th
                  Floor, New York, NY 1111</p>

              </div>
            </section>


          </div>
        </div>
      </div>
    </div>

  </div>
</section>