<section class="main-content my-auto py-5">
    <div class="container">

      <div class="row">
        <div class="col-lg-3 offset-sm-6">

          <svg class="icons mb-3 mb-sm-0" width="235px" height="133px" viewBox="0 0 235 133" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-566.000000, -297.000000)">
              <g transform="translate(567.000000, 298.000000)">
                <line class="animated dash" x1="139.5" y1="80.5" x2="221" y2="12" stroke="#E2E2E2"/>
                <line class="animated dash delay-0-5" x2="16" y2="57" x1="221" y1="12" stroke="#E2E2E2"/>
                <g transform="translate(85.000000, 92.000000)">
                  <g class="animated zoomIn1">
                    <circle class="animated rotate1" stroke="#0036FD" stroke-dasharray="4" cx="19.5" cy="19.5" r="19.5"></circle>
                    <circle fill="#0036FD" cx="19.5" cy="19.5" r="6.5"></circle>
                  </g>
                </g>
                <g transform="translate(209.000000, 0.000000)">
                  <g class="animated zoomIn2">
                    <circle class="animated rotate2" stroke="#0036FD" stroke-dasharray="4" cx="12" cy="12" r="12"></circle>
                    <circle fill="#0036FD" cx="12" cy="12" r="4"></circle>
                  </g>
                </g>
                <g transform="translate(0.000000, 40.000000)">
                  <g class="animated zoomIn3">
                  <circle class="animated rotate3" stroke="#0036FD" stroke-dasharray="4" cx="16.5" cy="16.5" r="16.5"></circle>
                  <circle fill="#0036FD" cx="16.5" cy="16.5" r="5.5"></circle>
                  </g>
                </g>
              </g>
            </g>
          </svg>

          <div class="pl-sm-4">
            <div class="poppins uppercase fz-12 color-gray weight-500 ls-2 animated fadeInDown2 delay-1">frontier insight</div>
            <div class="color-gray-light weight-300 animated fadeInDown2 delay-1-2">Lorem ipsum dolor sit amet <span class="color-gray">something highlighted here</span> and there’s more to this part lorem ipsum.</div>
          </div>
        </div>
      </div>
      
    </div>
  </section>