<section class="main-content pt-5 pb-3">
  <div class="container">
    <img src="assets/img/admin/logo-1.png" alt="">
    <div class="tables-wrapper mt-4">

      <nav class="navbar navbar-expand-md navbar-dark justify-content-center top-navigation uppercase mb-5">
        <ul class="navbar-nav mr-sm-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!">
              <span class="circle"><img src="assets/img/admin/i-1.png" alt=""></span>
              <span>hiring managers</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">
              <span class="circle"><img src="assets/img/admin/i-2.png" alt=""></span>
              <span>open jobs</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#!" routerLink="/admin/new-job"><img src="assets/img/plus.svg" alt="" class="mr-2"> <span>create job position</span></a></li>
        </ul>
      </nav>

      <div class="table-responsive text-center px-3 pb-5">
        <table class="table table-fixed table-striped table-admin">
          <thead class="bg-gray-light">
            <tr class="text-white">
              <th>Job ID</th>
              <th>Job Position</th>
              <th>Company</th>
              <th>Hiring Manager</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>bo546v</td>
              <td>Financial Analyst</td>
              <td>Bank of Amarica</td>
              <td>Omar Kiyani</td>
              <td>Open</td>
            </tr>
            <tr>
              <td>bo546v</td>
              <td>Financial Analyst</td>
              <td>Bank of Amarica</td>
              <td>YI</td>
              <td>Open</td>
            </tr>
            <tr>
              <td>bo546v</td>
              <td>Financial Analyst</td>
              <td>Bank of Amarica</td>
              <td>Elizabeth</td>
              <td>Closed</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>