<section class="main-content pt-5 pb-3">
  <div class="container">
    <img src="assets/img/admin/logo-1.png" alt="">
    <div class="tables-wrapper mt-4">

      <nav class="navbar navbar-expand-sm navbar-dark justify-content-center top-navigation uppercase mb-5">
        <div class="white-text fz-19 uppercase mr-sm-auto px-3">Companies</div>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#!" routerLink="/admin/new-company"><img src="assets/img/plus.svg" alt="" class="mr-2"> <span>New company</span></a></li>
        </ul>
      </nav>

      <div class="table-responsive text-center px-3 pb-5">
        <table class="table table-fixed table-striped table-admin">
          <thead class="bg-gray-light">
            <tr class="text-white">
              <th>Client ID</th>
              <th>Company Name</th>
              <th>Contact Person</th>
              <th>Email</th>
              <th>Address</th>
              <th>Phone #</th>
              <th>Logo</th>
              <th>Hiring Managers</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of companies">
              <td>{{company.id}}</td>
              <td>{{company.name}}</td>
              <td>{{company.contact}}</td>
              <td>{{company.email}}</td>
              <td>{{company.address}}</td>
              <td>{{company.phone}}</td>
              <td><img [src]="company.logo" alt="" class="logo-company"></td>
              <td>{{company.hiring_manager}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>
