<section class="main-content pt-5 pb-3">
    <div class="container">
      <div class="row justify-content-between align-items-end">
        <div class="col-sm">
          <img src="assets/img/admin/logo-1.png" alt="">
        </div>
        <div class="col-sm-auto">
          <button class="btn btn-dark btn-rounded mt-3"><i class="material-icons align-middle">arrow_back</i> <span class="align-middle">Back to Job</span></button>
        </div>
      </div>
      <div class="tables-wrapper mt-4">

        <nav class="navbar navbar-expand-sm navbar-dark justify-content-center top-navigation uppercase mb-5">
          <ul class="navbar-nav mr-sm-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!">
                <span class="circle"><img src="assets/img/admin/i-3.png" alt=""></span>
                <span>Job Specific Requirements</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">
                <span class="circle"><img src="assets/img/admin/i-4.png" alt=""></span>
                <span>Job Spec Survey</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">
                <span class="circle"><img src="assets/img/admin/i-5.png" alt=""></span>
                <span>Invite Applicants</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#!">
                <span class="circle"><img src="assets/img/admin/i-6.png" alt=""></span>
                <span>Response Tracking</span>
              </a>
            </li>
          </ul>
        </nav>
        
        <div class="text-right mx-sm-3 mb-3">
          <button class="btn btn-success btn-rounded">Generate Resport</button>
        </div>

        <div class="table-responsive text-center px-3 pb-5">
          <table class="table table-fixed table-striped table-admin">
            <thead class="bg-gray-light">
              <tr class="text-white">
                <th>Application Email</th>
                <th>Date Sent</th>
                <th>Days Remaining</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive text-center px-3 pb-5">
          <table class="table table-fixed table-striped table-admin">
            <thead class="bg-gray-light">
              <tr class="text-white">
                <th>Application Email</th>
                <th>Date Sent</th>
                <th>Days Remaining</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive text-center px-3 pb-5">
          <table class="table table-fixed table-striped table-admin">
            <thead class="bg-gray-light">
              <tr class="text-white">
                <th>Application Email</th>
                <th>Date Sent</th>
                <th>Days Remaining</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
              <tr>
                <td>Omar.kiyani@columbia.edu</td>
                <td>02/19/2018</td>
                <td>4</td>
                <td>Completed</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </section>