<section class="main-content pt-5 pb-3">
  <div class="container">
    <img src="assets/img/admin/logo-1.png" alt="">
    <div class="tables-wrapper mt-4">

      <nav class="navbar navbar-expand-sm navbar-dark justify-content-center top-navigation uppercase mb-5">
        <div class="white-text uppercase mr-sm-auto px-3">
          <span class="circle"><img src="assets/img/admin/i-1.png" alt=""></span>
          <span>hIRING manager : omar kiyani</span>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#!" routerLink="/admin/new-employee"><img src="assets/img/plus.svg" alt="" class="mr-2"> <span>create job position</span></a></li>
        </ul>
      </nav>

      <div class="table-responsive text-center px-3 pb-5">
        <table class="table table-fixed table-striped table-admin">
          <thead class="bg-gray-light">
            <tr class="text-white">
              <th>Job ID</th>
              <th>Job Title</th>
              <th>Job Type</th>
              <th>Job Level</th>
              <th>Company</th>
              <th>Hiring Manager</th>
              <th>Location</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <td>{{employee.id}}</td>
              <td>{{employee.title}}</td>
              <td>{{employee.type}}</td>
              <td>{{employee.level}}</td>
              <td>{{employee.company}}</td>
              <td><strong>{{employee.hm_manager}}</strong></td>
              <td>{{employee.location}}</td>
              <td>{{employee.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>