{% extends "messaging/invite.html" %}{% block heading %} You're Invited! {% endblock %}{% block body %}
<p style="margin-top: 0;margin-bottom: 38px;box-sizing: border-box;">
    Hey there! As a next step in the application process, please login below to create your Signal Profile to generate your signals
    and assist in assuring your job fit.
</p>
<p style="margin-top: 0;margin-bottom: 38px;box-sizing: border-box;">
    {{ company }} has partnered with Frontier Signal to provide you with this opportunity.
</p>
<p style="margin-top: 0;margin-bottom: 38px;box-sizing: border-box;">
    Approximately 20 minutes of your time should be needed create the Signal Profile required.
</p>
{% endblock %}