{% extends "messaging/invite.html" %}{% block heading %} You're Invited! {% endblock %}{% block body %}
<p style="margin-top: 0;margin-bottom: 38px;box-sizing: border-box;">
    Hi! {{ hiring_manager }} has requested you assist him in creating the success signals to select candidates to fill his open
    job opportunity at {{ company }}.
</p>
<p style="margin-top: 0;margin-bottom: 38px;box-sizing: border-box;">
    Approximately 20 minutes of your time should be needed create the Signal Profile required.
</p>
{% endblock %}