{% extends "messaging/invite.html" %}{% block heading %} Welcome {{ user.first_name }} {% endblock %}{% block body %}
<div class="poppins fz-32 weight-500" style="font-family: &quot;Poppins&quot;, sans-serif;font-size: 32px;font-weight: 500;box-sizing: border-box;">You’re invited!</div>
<div class="fz-18" style="font-size: 18px;box-sizing: border-box;line-height: 1.8;letter-spacing: 0.1px;">
    <p style="margin-top: 0;margin-bottom: 38px;box-sizing: border-box;">
        Please identify the success signals for your open job opportunity. You will then receive qualified candidates that fit to
        the signal profile.
    </p>
</div>
{% endblock %}