{% extends "messaging/email.html" %}{% block content %}
<div class="fz-18" style="font-size: 18px;box-sizing: border-box;line-height: 1.8;letter-spacing: 0.1px;">
    {% block body %} {% endblock %}
    <p style="margin-top: 0;margin-bottom: 15px;box-sizing: border-box;">Please use the following credentials to log in:</p>
</div>
<div class="" style="box-sizing: border-box;">
    <div class="poppins fz-10 weight-500 color-gray uppercase ls-17" style="font-family: &quot;Poppins&quot;, sans-serif;text-transform: uppercase;color: #2e2e2e;letter-spacing: 1.7px;font-size: 10px;line-height: 1.7;font-weight: 500;box-sizing: border-box;">email address</div>
    <p style="margin-top: 0;margin-bottom: 15px;box-sizing: border-box;">{{ user.email }}</p>
</div>
<div class="" style="box-sizing: border-box;">
    <div class="poppins fz-10 weight-500 color-gray uppercase ls-17" style="font-family: &quot;Poppins&quot;, sans-serif;text-transform: uppercase;color: #2e2e2e;letter-spacing: 1.7px;font-size: 10px;line-height: 1.7;font-weight: 500;box-sizing: border-box;">password</div>
    <p style="margin-top: 0;margin-bottom: 15px;box-sizing: border-box;">{{ login_link.password }}</p>
</div>
<a href="{{ host }}/web/auth/login/{{ login_link.token }}" class="button" style="color: #fff;box-sizing: border-box;font-weight: 400;display: inline-block;width: 100%;max-width: 291px;background-color: #252525;margin-top: 20px;padding: 22.5px;border-radius: 25px;text-decoration: none;">get started</a>
{% endblock %}