<section id="dashboard">

  <div class="header text-center" *ngIf="sliderComplete === true">
    <div class="pt-5">
      <h3 class="text-nowrap title">Welcome to your Signal Dashboard</h3>
    </div>
    <div class="pb-5 pt-2">
      <p class="description">
          A look at the status of your open Opportunities!
      </p>
    </div>
    <div class="pt-3 pr-5 close-btn">
      <img src="assets/img/close-white-50.svg">
    </div>
  </div>

  <br/>

  <div class="header text-center" *ngIf="sliderComplete === false">
    <ngb-carousel #carousel>
      <ng-template ngbSlide *ngFor="let slide of dashboardData.slides">
        <div>
          <div class="pt-5">
            <h3 class="text-nowrap title">{{slide.heading}}</h3>
          </div>
          <div class="pb-5 pt-2">
            <p class="description">
              {{slide.content}}
            </p>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="pt-3 pr-5 close-btn">
      <img src="assets/img/close-white-50.svg">
    </div>
  </div>

  <br/>

  

  <div class="header d-flex flex-row" *ngIf="sliderComplete === true">
    <div class="p-5">
      <h3 class="text-nowrap title">{{title}}</h3>
    </div>
    <div class="p-5">
      <p class="description">
          {{content}} 
      </p>
    </div>
    <div class="pt-3 pr-5 close-btn">
      <img src="assets/img/close-white-50.svg">
    </div>
  </div>



  <div class="body">
    <div class="d-flex">
      <h1 class="signal-opportunities pt-5 pl-5 pr-5 pb-3 w-75">Signal Opportunities</h1>
      <h5 [ngClass]="{'container': currentSlide=='ngb-slide-4'}" class="font-weight-bold pt-5 pl-5 pr-5 pb-3 w-25 mb-0 text-right text-grey-dark align-self-center build-signal-profile">
        build a signal profile
        <img src="assets/img/chevron-right.svg">
      </h5>
    </div>
    <div class="">
      <div class="mx-5 pb-5">
        <!-- <div class="table-responsive">
          <table class="table"
            [class.slide-1]="currentSlide === 'ngb-slide-1'"
            [class.slide-2]="currentSlide === 'ngb-slide-2'"
            [class.slide-3]="currentSlide === 'ngb-slide-3'">
            <thead>
              <tr>
                <th>opporunity</th>
                <th>examplars</th>
                <th>applicants</th>
                <th>matches</th>
                <th>invite</th>
                <th>view</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of data; let i = index;">
                <td><h4>{{row.title}}</h4></td>
                <td>
                    <ng-template #popContent>
                        <div class="text-center">
                          <h5 class="text-nowrap font-weight-bold px-2 pt-2">Gathering Exemplar Data</h5>
                          <p class="px-2 pt-2">Not to worry, we’ll send an update when the data is complete</p>
                        </div>
                      </ng-template>
                      <button type="button" class="btn-popover" [ngbPopover]="popContent" triggers="mouseenter:mouseleave">
                        <div class="progress-bar-mini">
                          <span class="progress" [style.width]="progress + '%'"></span>
                        </div>
                      </button>
                </td>
                <td>{{row.applicants}}</td>
                <td>{{row.matches}}</td>
                <td><div>
                    <img [src]="row.invite? 'assets/img/envelope-light.svg':'assets/img/envelope.svg'">
                  </div></td>
                <td>
                    <div>
                        <img [src]="row.view?'assets/img/eye.svg':'assets/img/eye-light.svg'">
                      </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
        <div class="card p-3">
          <div [ngClass]="{'container': currentSlide=='ngb-slide-0'}" class="card-body d-flex flex-row pt-2 px-3 pb-1 data-row">
            <div class="">
              <div class="column-header card-title text-grey-light">
                OPPORTUNITY
              </div>
              <div class="card-body pl-0 pb-0 mb-0">
                <h4>
                  Sales Manager - Hilton Midtown
                </h4>
              </div>
            </div>
            <div class=" d-flex text-center">
              <div class=" d-flex" [ngClass]="{'container': currentSlide=='ngb-slide-1'}">
              <div class="w-50 p-3">
                <div class="column-header card-title text-grey-light">
                  EXEMPLARS
                </div>
                <div class="card-body pb-0 mb-0">
                  <ng-template #popContent>
                    <div class="text-center">
                      <h5 class="text-nowrap font-weight-bold px-2 pt-2">Gathering Exemplar Data</h5>
                      <p class="px-2 pt-2">Not to worry, we’ll send an update when the data is complete</p>
                    </div>
                  </ng-template>
                  <button type="button" class="btn-popover" [ngbPopover]="popContent" triggers="mouseenter:mouseleave">
                    <img src="assets/img/check-green.svg">
                  </button>
                </div>
              </div>
              <div class="w-50 p-3">
                <div class="column-header card-title text-grey-light">
                  APPLICANTS
                </div>
                <div class="column-text card-body pb-0 mb-0">
                  5/12
                </div>
              </div>
              </div>
              <div class=" p-0 m-0 d-flex">
                <div class="w-50 p-3" [ngClass]="{'container': currentSlide=='ngb-slide-2'}">
                  <div class="column-header card-title text-grey-light">
                    MATCHES
                  </div>
                  <div class="column-text card-body pb-0 mb-0">
                    0
                  </div>
                </div>
                <div class="w-50 p-3" [ngClass]="{'container': currentSlide=='ngb-slide-5'}">
                  <div class="column-header card-title text-grey-light">
                    INVITE
                  </div>
                  <div class="column-text card-body pb-0 mb-0">
                    <img style="max-width:initial" src="assets/img/envelope.svg">
                  </div>
                </div>
              </div>
              <div class=" p-3" [ngClass]="{'container': currentSlide=='ngb-slide-3'}">
                <div class="column-header card-title text-grey-light">
                  VIEW
                </div>
                <div class="column-text card-body pb-0 mb-0">
                  <img style="max-width:initial" src="assets/img/eye-light.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="card-body d-flex flex-row pt-2 px-3 pb-1 data-row">
            <div class="">
              <div class="card-body pl-0 pb-0 mb-0">
                <h4>
                  Sales & Marketing Analyst - Hilton Midtown
                </h4>
              </div>
            </div>
            <div class=" d-flex text-center">
              <div class=" p-3">
                <div class="card-body pb-0 mb-0">
                  <ng-template #popContent>
                    <div class="text-center">
                      <h5 class="text-nowrap font-weight-bold px-2 pt-2">Gathering Exemplar Data</h5>
                      <p class="px-2 pt-2">Not to worry, we’ll send an update when the data is complete</p>
                    </div>
                  </ng-template>
                  <button type="button" class="btn-popover" [ngbPopover]="popContent" triggers="mouseenter:mouseleave">
                    <div class="progress-bar-mini">
                      <span class="progress" [style.width]="progress + '%'"></span>
                    </div>
                  </button>
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  0/0
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  n/a
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  <img style="max-width:initial" src="assets/img/envelope.svg">
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  <img style="max-width:initial" src="assets/img/eye-light.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="card-body d-flex flex-row pt-2 px-3 pb-1 data-row">
            <div class="">
              <div class="card-body pl-0 pb-0 mb-0">
                <h4>
                  Front Office Manager - Millennium Hilton
                </h4>
              </div>
            </div>
            <div class=" d-flex text-center">
              <div class=" p-3">
                <div class="card-body pb-0 mb-0">
                  <ng-template #popContent>
                    <div class="text-center">
                      <h5 class="text-nowrap font-weight-bold px-2 pt-2">Gathering Exemplar Data</h5>
                      <p class="px-2 pt-2">Not to worry, we’ll send an update when the data is complete</p>
                    </div>
                  </ng-template>
                  <button type="button" class="btn-popover" [ngbPopover]="popContent" triggers="mouseenter:mouseleave">
                    <div class="progress-bar-mini">
                      <span class="progress" [style.width]="progress + '%'"></span>
                    </div>
                  </button>
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  15/23
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  10
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  <img style="max-width:initial" src="assets/img/envelope.svg">
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  <img style="max-width:initial" src="assets/img/eye.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="card-body d-flex flex-row pt-2 px-3 pb-1 data-row">
            <div class="">
              <div class="card-body pl-0 pb-0 mb-0">
                <h4>
                  Front Office Manager - Millennium Hilton
                </h4>
              </div>
            </div>
            <div class=" d-flex text-center">
              <div class=" p-3">
                <div class="card-body pb-0 mb-0">
                  <ng-template #popContent>
                    <div class="text-center">
                      <h5 class="text-nowrap font-weight-bold px-2 pt-2">Gathering Exemplar Data</h5>
                      <p class="px-2 pt-2">Not to worry, we’ll send an update when the data is complete</p>
                    </div>
                  </ng-template>
                  <button type="button" class="btn-popover" [ngbPopover]="popContent" triggers="mouseenter:mouseleave">
                    <div class="progress-bar-mini">
                      <span class="progress" [style.width]="'0%'"></span>
                    </div>
                  </button>
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  6/8
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  0
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  <img style="max-width:initial" src="assets/img/envelope-light.svg">
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  <img style="max-width:initial" src="assets/img/eye.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="card-body d-flex flex-row pt-2 px-3 pb-1 data-row">
            <div class="">
              <div class="card-body pl-0 pb-0 mb-0">
                <h4>
                  Revenue Management Coordinator - The London
                </h4>
              </div>
            </div>
            <div class=" d-flex text-center">
              <div class=" p-3">
                <div class="card-body pb-0 mb-0">
                  <ng-template #popContent>
                    <div class="text-center">
                      <h5 class="text-nowrap font-weight-bold px-2 pt-2">Gathering Exemplar Data</h5>
                      <p class="px-2 pt-2">Not to worry, we’ll send an update when the data is complete</p>
                    </div>
                  </ng-template>
                  <button type="button" class="btn-popover" [ngbPopover]="popContent" triggers="mouseenter:mouseleave">
                    <div class="progress-bar-mini">
                      <span class="progress" [style.width]="'0%'"></span>
                    </div>
                  </button>
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  6/10
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  27
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  <img style="max-width:initial" src="assets/img/envelope-light.svg">
                </div>
              </div>
              <div class=" p-3">
                <div class="column-text card-body pb-0 mb-0">
                  <img style="max-width:initial" src="assets/img/eye.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>