section
  :min-height 89vh
  :background-color #f3f3f3

  .text-grey-light
    :color #969696
  .text-grey-dark
    :color #5e5e5e

  .header 
    :position relative
    :background-color rgba(0, 54, 253, 0.9)
    :color white
    :padding 10px
    :margin 0

    .title
      :font-family Poppins
      :font-size 30px
      :font-weight 500
      :font-style normal
      :font-stretch normal
      :line-height normal
      :letter-spacing 0.4px

    .description
      font-family: Poppins;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;

    .close-btn
      :position absolute
      :right 0
      :top 0
      :position absolute
      :right 0
      :top 0

      img
        :width 20px
        :cursor pointer

  .body
    .card
      :border-radius 20px
      :box-shadow none

      .card-title
        :font-weight 500
    .data-row:not(:first-child)
      :border-top solid 1px #e2e2e2


  .btn-popover
    :border none

  .progress-bar-mini
    :width 40px
    :background #e2e2e2
    .progress
      :background #0fd056

  .container
    :border-radius 15px
    :background-color #ffffff
    :box-shadow 0 0 11px 0 rgba(0, 54, 253, 0.6)
    :max-width 100vw

  .signal-opportunities
    :font-family Poppins
    :font-size 26px
    :font-weight 500
    :font-style normal
    :font-stretch normal
    :line-height normal
    :letter-spacing normal
    :min-width 80%

  .column-header
    :font-family Poppins
    :font-size 10px
    :font-weight 500
    :font-style normal
    :font-stretch normal
    :line-height normal
    :letter-spacing 1.7px

  .column-title
    :font-family Poppins
    :font-size 15px
    :font-weight 500
    :font-style normal
    :font-stretch normal
    :line-height normal
    :letter-spacing 0.2px

  .column-text
    :font-family Roboto
    :font-size 14px
    :font-weight 300
    :font-style normal
    :font-stretch normal
    :line-height 1.71
    :letter-spacing 0.1px

  .build-signal-profile
    :font-family Poppins
    :font-size 13px
    :font-weight normal
    :font-style normal
    :font-stretch normal
    :line-height normal
    :letter-spacing 0.2px
    :cursor pointer

table
  :background-color white

.slide-0
  border-collapse: separate;
  thead tr th:nth-child(1)
    :border 1px solid blue
    :border-bottom none
    :border-right none
    :border-top-left-radius 20px
  thead tr th:nth-child(2)
    :border 1px solid blue
    :border-bottom none
    :border-left none
    :border-top-right-radius 20px
  tbody tr:first-child td:nth-child(2)
    :border 1px solid blue
    :border-top none
    :border-right none
    :border-bottom-left-radius 20px
  tbody tr:first-child td:nth-child(3)
    :border 1px solid blue
    :border-top none
    :border-left none
    :border-bottom-right-radius 20px

.slide-1
  border-collapse: separate;
  thead tr th:nth-child(2)
    :border 1px solid blue
    :border-bottom none
    :border-right none
    :border-top-left-radius 20px
  thead tr th:nth-child(3)
    :border 1px solid blue
    :border-bottom none
    :border-left none
    :border-top-right-radius 20px
  tbody tr:first-child td:nth-child(2)
    :border 1px solid blue
    :border-top none
    :border-right none
    :border-bottom-left-radius 20px
  tbody tr:first-child td:nth-child(3)
    :border 1px solid blue
    :border-top none
    :border-left none
    :border-bottom-right-radius 20px

.slide-2
  border-collapse: separate;
  thead tr th:nth-child(5)
    :border 1px solid blue
    :border-bottom none
    :border-top-left-radius 20px
    :border-top-right-radius 20px
  tbody tr:first-child td:nth-child(5)
    :border 1px solid blue
    :border-top none
    :border-bottom-left-radius 20px
    :border-bottom-right-radius 20px
  
.slide-3
  border-collapse: separate;
  thead tr th:nth-child(6)
    :border 1px solid blue
    :border-bottom none
    :border-top-left-radius 20px
    :border-top-right-radius 20px
  tbody tr:first-child td:nth-child(6)
    :border 1px solid blue
    :border-top none
    :border-bottom-left-radius 20px
    :border-bottom-right-radius 20px

.card-body__left
  :flex-basis 60%

.build-signal-profile
  :width initial !important

.carousel-description
  :margin-right 20%
  :margin-left 20%

.clickable-item
  :cursor pointer