<header class="main-header">
    <div class="container-fluid">
  
      <div class="row align-items-center">
        <div class="col col-sm-auto col-md-3 col-xl order-sm-1"><a href="#!" class="logo"><img src="assets/img/logo-short.svg" alt=""></a></div>
        <div class="col col-sm-auto col-md-3 col-xl text-right order-sm-3"><a class="poppins fz-13"><strong>Eric B. &nbsp;</strong><img src="assets/img/chevron-down.svg" alt=""></a></div>
        <div class="col-sm order-sm-2">
          
  
        </div>
      </div>
  
    </div>
  </header>