<section class="main-content pt-5 pb-3">
    <div class="container">
      <div class="row justify-content-between align-items-end">
        <div class="col-sm">
          <img src="assets/img/admin/logo-1.png" alt="">
        </div>
        <div class="col-sm-auto">
          <button class="btn btn-dark btn-rounded mt-3"><i class="material-icons align-middle">arrow_back</i> <span class="align-middle">Back to Job</span></button>
        </div>
      </div>
      <div class="tables-wrapper mt-4">

        <nav class="navbar navbar-expand-sm navbar-dark justify-content-center top-navigation uppercase mb-5">
          <ul class="navbar-nav mr-sm-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#!">
                <span class="circle"><img src="assets/img/admin/i-3.png" alt=""></span>
                <span>Job Specific Requirements</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">
                <span class="circle"><img src="assets/img/admin/i-4.png" alt=""></span>
                <span>Job Spec Survey</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">
                <span class="circle"><img src="assets/img/admin/i-5.png" alt=""></span>
                <span>Invite Applicants</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">
                <span class="circle"><img src="assets/img/admin/i-6.png" alt=""></span>
                <span>Response Tracking</span>
              </a>
            </li>
          </ul>
        </nav>
        
        <p class="poppins fz-22 weight-500 px-3">Two down, you’re doing great.</p>
        <div class="table-responsive text-center px-3 pb-5">
          <table class="table table-fixed table-striped table-admin">
            <thead class="bg-gray-light">
              <tr class="text-white">
                <th>#</th>
                <th>Education Drgee</th>
                <th>Required / Preferred</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="table-responsive text-center px-3 pb-5">
          <table class="table table-fixed table-striped table-admin">
            <thead class="bg-gray-light">
              <tr class="text-white">
                <th>#</th>
                <th>Certification / Licenses</th>
                <th>Required / Preferred</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="px-3">
          <div class="row align-self-center">
            <div class="col-xl">
              <p class="poppins fz-22 weight-500">Hard Skills</p>
            </div>
            <div class="col-xl-auto">
              <div class="fz-18">Enter 3-5 required job specific skills for this role</div>
            </div>
          </div>
        </div>
        
        <div class="table-responsive text-center px-3 pb-5">
          <table class="table table-fixed table-striped table-admin">
            <thead class="bg-gray-light">
              <tr class="text-white">
                <th>#</th>
                <th>Hard Skills</th>
                <th>Required / Preferred</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row mx-0">
          <div class="col-lg-6 px-0">
            
            <div class="px-3">
              <p class="poppins fz-22 weight-500">Soft Skills</p>
              <div class="fz-18">Enter 3-5 soft skills required tasks for this role</div>
            </div>
            
            <div class="table-responsive text-center px-3 pb-5">
              <table class="table table-fixed table-striped table-admin">
                <thead class="bg-gray-light">
                  <tr class="text-white">
                    <th>#</th>
                    <th>Soft Skills</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="col-lg-6 px-0">
            
            <div class="px-3">
              <p class="poppins fz-22 weight-500">Tasks</p>
              <div class="fz-18">Enter 3-5 job specific required tasks for this role</div>
            </div>
            
            <div class="table-responsive text-center px-3 pb-5">
              <table class="table table-fixed table-striped table-admin">
                <thead class="bg-gray-light">
                  <tr class="text-white">
                    <th>#</th>
                    <th>Soft Skills</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>